# PostgreSQL
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Seq
ACCEPT_EULA=Y

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
